.spacer {
    height: 66px;
}

.product-page-flex {
    display: flex;
    padding: 50px 50px;
    gap: 65px;
}

.product-page-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.product-page-right {
    flex: 1
}

.mySwiper2 {
    max-width: 450px;
    margin: 0;
}

.swiper-pagination {
    margin-bottom: 17.5px;
}

img {
    width: 100%;
}

.swiper-slide2 {
    width: 100% !important;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7.5px;
}

.product-price {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.product-description {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 450px;
}

.color-selector-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color-selector-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.color-selector-circle.active {
    outline: 2px solid black;
}

.select-size {
    margin-bottom: 20px;
    margin-top: 15px;
}

.select-option-title {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 5px;
}

.sizecomp-text {
    font-size: 10px;
    font-weight: 500;
    text-decoration: underline;
}

.sizes-selector-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.size-selector {
    padding: 3px 5px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
    background-color: #D9D9D9;
    font-weight: 400;
}
.size-selector.active {
    outline: 2px solid black;
}

.atc-btn {
    all: unset;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: #D9D9D9;
    font-weight: 600;
}